// Colors
$primary-color: #539DAB;
$secondary-color: #024E65;
$primary-light-color: #E8F8FD;
$primary-font-color : #101111;
$secondary-font-color : #717475;

$info-color: #0EC2F7;
$success-color: #0EC2F7;
$danger-color: #FD617B;

$base-light-color: #FFFFFF;
$border-color: #D9DCDD;
$base-light-grey: #F8F8F8;
$base-grey-color: #A7A7A7;

// Font Size
$base-font-size : 18px;

//Mobile font size
$base-font-size-mobile : 16px;

//Font Family
$base-font-family: "Poppins", sans-serif;

//Font Weight
$base-font-weight: 400; //Regular