// Content section starts
.content-section {

    &.sticky-image {
        .content-section {
            &-row {
                align-items: start;
            }

            &-image {
                position: sticky;
                top: 50px;
            }
        }
    }

    &-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &-image {
        flex: 0 0 auto;
        width: 41.66666667%;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            @include border-radius(12px);
        }
    }

    &-desc {
        flex: 0 0 auto;
        width: 58.33333333%;

        .tabs {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin-bottom: 24px;
            gap: 2px;

            &-item {
                position: relative;

                &__link {
                    padding: 16px;
                    font-weight: 600;
                    font-size: 14px;
                    color: $secondary-font-color;
                    border: none;
                    border-bottom: solid 3px $border-color;
                    cursor: pointer;
                    background: $base-light-grey;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    &.active {
                        background: $base-light-color;
                        border-color: $primary-color;
                        color: $primary-font-color;

                        &:hover {
                            border-color: $primary-color;
                            color: $primary-color;
                        }
                    }

                    &:hover {
                        border-color: $border-color;
                        color: $base-grey-color;
                    }
                }
            }

            &-panel {
                display: none;

                &-active {
                    display: block;
                }
            }
        }

        .content-icon {
            &-card {
                display: flex;
                align-items: start;
                margin-bottom: 20px;

                &-image {
                    width: 64px;
                }

                &-desc {
                    width: calc(100% - 64px);
                    padding-left: 20px;

                    .h5 {
                        margin-bottom: 8px;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }


    /************************************/
    /*********** LEFT IMAGE ************/
    /***********************************/
    &-left-image {
        .content-section {
            &-desc {
                padding-left: 56px;
            }
        }
    }

    /************************************/
    /*********** RIGHT IMAGE ************/
    /***********************************/
    &-right-image {

        .content-section {
            &-row {
                flex-direction: row-reverse;
            }

            &-desc {
                padding-left: 0;
                padding-right: 56px;
            }
        }
    }

    /******************************************/
    /*********** Fullwidth Content ************/
    /******************************************/
    &-fullwidth-content {

        .content-section {
            &-image {
                display: none;
            }

            &-desc {
                width: 100%;
                padding: 0;
            }
        }
    }

    @media only screen and (max-width: 1199.98px) {
        &-left-image {
            .content-section {
                &-desc {
                    padding-left: 32px;
                }
            }
        }

        &-right-image {
            .content-section {
                &-desc {
                    padding-right: 32px;
                }
            }
        }
    }

    @media screen and (max-width: 991.99px) {
        &-desc {
            .content-icon {
                &-card {
                    margin-bottom: 16px;

                    &-image {
                        width: 40px;
                    }

                    &-desc {
                        width: calc(100% - 40px);
                        padding-left: 16px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 767.98px) {
        &.sticky-image {
            .content-section {
                &-row {
                    align-items: start;
                }

                &-image {
                    position: static;
                    top: auto;
                }
            }
        }

        &-image {
            width: 100%;
        }

        &-desc {
            width: 100%;

            .tabs {

                &-item {

                    &__link {
                        padding: 8px 16px;
                    }
                }
            }
        }

        &-left-image {
            .content-section {
                &-row {
                    flex-direction: column-reverse;
                }

                &-desc {
                    padding-left: 0;
                }
            }
        }

        &-right-image {
            .content-section {
                &-row {
                    flex-direction: column-reverse;
                }
            }
        }
    }
}

// Content section ends