.rating {
    &-card {
        padding: 48px;
        border: solid 1px $primary-color;
        @include border-radius(12px);
        background: $base-light-color;

        h3 {
            margin-bottom: 16px;
        }
    }

    &-star {
        color: #ECD147;
    }

    &-content {
        margin-top: 24px;
    }

    @media only screen and (max-width: 991.98px) {
        &-card {
            padding: 24px;
        }
    }
}